@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://cdnjs.cloudflare.com/ajax/libs/antd/4.6.4/antd.min.css');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-weight: 300;
}
